h1 {
  color: black;
  font-size: 50px;
}
img {
	height: 500px;
	padding-left: 350px;
}
h3 {
	font-size: 30px;
}
span {
	padding-left: 400px;
}
body {
	background-color: rgba(16,80,105,.8);
	font-size: 20px;
	font-family: arial;
}
div {
	border-color: black;
	border-width: 2px;
	border-style: solid;
}