h1 {
  color: black;
  font-size: 50px;
  padding-left: 450px;
}
img {
	height: 400px;
	padding-left: 450px;
}
h3 {
	font-size: 30px;
}
span {
	padding-left: 400px;
}
body {
	font-size: 23px;
	font-family: arial;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSgVCEvFdOSn9vXlSXvRwmNgsEwAWhnMaoLxCx7wHKOjN5dJ9RI&usqp=CAU);
	}
div {
	border-color: black;
	border-width: 2px;
	border-style: solid;
}
